---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Button from "@/components/ui/Button.astro";
import { getPostReadingTime, formatDate } from "@/core/utils";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const currentPostId = post.id;
const { Content } = await render(post);
const { title, description, date, updatedDate, image, tags } = post.data;

const postReadingTime = getPostReadingTime(post);

const badgeClasses =
  "inline-flex items-center justify-center rounded-md border px-2 py-0.5 text-xs font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 gap-1 transition-[color,box-shadow] overflow-hidden border-transparent bg-muted text-foreground hover:bg-muted/90";
---

<Layout post={post}>
  <section class="grid grid-cols-[minmax(0px,1fr)_min(calc(var(--breakpoint-md)-2rem),100%)_minmax(0px,1fr)] gap-y-6">
    <div class="col-start-2">
      <Breadcrumbs
        items={[
          { href: "/blog", label: "Blog", icon: "lucide:library-big" },
          {
            href: `/blog/${currentPostId}`,
            label: title,
            icon: "lucide:book-open-text",
          },
        ]}
      />
    </div>

    <section class="col-start-2 flex flex-col gap-y-6 text-center">
      <div class="flex flex-col">
        <h1 class="mb-2 scroll-mt-31 text-3xl leading-tight font-medium sm:text-4xl" id="post-title">
          {title}
        </h1>

        <div
          class="text-muted-foreground divide-border mb-4 flex flex-col items-center justify-center divide-y text-xs sm:flex-row sm:flex-wrap sm:divide-x sm:divide-y-0 sm:text-sm"
        >
          <div
            class="flex w-full items-center justify-center gap-2 py-2 sm:w-fit sm:px-2 sm:py-0 first:sm:pl-0 last:sm:pr-0"
          >
            <span>{formatDate(date)}</span>
          </div>

          <div
            class="flex w-full items-center justify-center gap-2 py-2 sm:w-fit sm:px-2 sm:py-0 first:sm:pl-0 last:sm:pr-0"
          >
            <span>{postReadingTime}</span>
          </div>

          {
            updatedDate && (
              <div class="flex w-full items-center justify-center gap-2 py-2 sm:w-fit sm:px-2 sm:py-0 first:sm:pl-0 last:sm:pr-0">
                <span class="italic">Updated: {formatDate(updatedDate)}</span>
              </div>
            )
          }
        </div>

        <div class="flex flex-wrap justify-center gap-2">
          {
            tags &&
              tags.length > 0 &&
              tags.map((tag) => (
                <a href={`/tags/${tag}`} class={badgeClasses}>
                  <Icon name="lucide:hash" class="size-3" />
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </section>

    <article class="prose col-start-2 max-w-none">
      <Content />
    </article>
  </section>

  <Button
    variant="outline"
    size="icon"
    class="group fixed right-8 bottom-8 z-50 hidden"
    id="scroll-to-top"
    title="Scroll to top"
    aria-label="Scroll to top"
  >
    <Icon name="lucide:arrow-up" class="mx-auto size-4 transition-all group-hover:-translate-y-0.5" />
  </Button>

  <script>
    document.addEventListener("astro:page-load", () => {
      const scrollToTopButton = document.getElementById("scroll-to-top");
      const footer = document.querySelector("footer");

      if (scrollToTopButton && footer) {
        scrollToTopButton.addEventListener("click", () => {
          window.scrollTo({ top: 0, behavior: "smooth" });
        });

        window.addEventListener("scroll", () => {
          const footerRect = footer.getBoundingClientRect();
          const isFooterVisible = footerRect.top <= window.innerHeight;

          scrollToTopButton.classList.toggle("hidden", window.scrollY <= 300 || isFooterVisible);
        });
      }
    });
  </script>
</Layout>
