---
import Badge from "@/components/ui/Badge.astro";
import Link from "@/components/ui/Link.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div
  class:list={[
    "group",
    "bg-muted/30",
    "hover:bg-muted/50",
    "relative",
    "overflow-hidden",
    "rounded-xl",
    "border",
    "transition-[background-color]",
    "duration-300",
    "ease-in-out",
  ]}
>
  <Link href={project.data.link} class="block" external>
    {
      project.data.image && (
        <div class="aspect-16/10 overflow-hidden">
          <Image
            src={project.data.image}
            alt={project.data.name}
            width={640}
            height={400}
            class="h-full w-full object-cover"
            quality="mid"
          />
        </div>
      )
    }
    <div class="space-y-2 p-4">
      <div class="flex items-center justify-between gap-2">
        <h3 class="text-lg font-medium">{project.data.name}</h3>
        <Icon name="lucide:external-link" class="text-muted-foreground size-4 shrink-0" />
      </div>
      <p class="text-muted-foreground line-clamp-2 text-sm">
        {project.data.description}
      </p>
    </div>
  </Link>
  {
    project.data.tags && project.data.tags.length > 0 && (
      <div class="flex flex-wrap gap-2 px-4 pb-4">
        {project.data.tags.map((tag) => (
          <Badge href={`/tags/${tag}`}>
            <Icon name="lucide:hash" class="size-3" />
            {tag}
          </Badge>
        ))}
      </div>
    )
  }
</div>
