---
import Link from "./Link.astro";
import Badge from "@/components/Badge.astro";
import { getPostReadingTime, formatDate } from "@/core/utils";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const formattedDate = formatDate(entry.data.date);
const readTime = getPostReadingTime(entry);
---

<div class="hover:bg-muted/50 rounded-xl border p-4 transition-colors duration-300 ease-in-out">
  <Link href={`/${entry.collection}/${entry.id}`} class="flex flex-col gap-4 sm:flex-row">
    {
      entry.data.image && (
        <div class="w-full sm:max-w-3xs sm:shrink-0">
          <Image src={entry.data.image} alt={entry.data.title} width={1200} height={630} class="object-cover" />
        </div>
      )
    }

    <div class="grow">
      <h3 class="mb-1 text-lg font-medium">{entry.data.title}</h3>
      <p class="text-muted-foreground mb-2 text-sm">{entry.data.description}</p>

      <div class="text-muted-foreground mb-2 flex flex-wrap items-center gap-x-2 text-xs">
        <span>{formattedDate}</span>
        <div role="separator" aria-orientation="vertical" class="bg-border shrink-0 h-full w-px h-4!"></div>
        <span>{readTime}</span>
      </div>

      {
        entry.data.tags && entry.data.tags.length > 0 && (
          <div class="flex flex-wrap gap-2">
            {entry.data.tags.map((tag) => (
              <Badge variant="muted" class="flex items-center gap-x-1">
                <Icon name="lucide:hash" class="size-3" />
                {tag}
              </Badge>
            ))}
          </div>
        )
      }
    </div>
  </Link>
</div>
