---
import "@/styles/global.css";
import "@/styles/typography.css";

import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE } from "@/core/constants";
import type { CollectionEntry } from "astro:content";

interface Props {
  title?: string;
  description?: string;
  post?: CollectionEntry<"blog">;
  noindex?: boolean;
  class?: string;
}

const {
  title = SITE.title,
  description = SITE.description,
  post,
  noindex,
  class: className,
} = Astro.props;
---

<!doctype html>
<html
  class="bg-background text-foreground scheme-light-dark"
  lang={SITE.locale}
>
  <Head title={title} description={description} post={post} noindex={noindex}>
    <slot name="head" />
  </Head>
  <body class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
    <header class="bg-background/50 sticky top-0 z-50 backdrop-blur-sm">
      <Header />
    </header>
    <main
      class:list={["w-full mx-auto flex grow flex-col gap-y-6 px-4", className]}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
